*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

body{
    background: cyan;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}